.info-bg{
    background-color: rgba(252, 158, 9, 0.37);
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    width: 94%;
}

.btn-reservar{
    border: 1px solid var(--california-500);
}   

.card-sala, .btn-entrar{
    border: 3px solid var(--california-500);
    border-radius: .875rem;
}