:root{
    --white: #ffffff;
    --seashell-50: #f8f8f8;
    --seashell-100: #f1f1f1;
    --seashell-200: #dcdcdc;
    --seashell-300: ##bdbdbd;
    --seashell-700: #525252;
    --seashell-800: #464646;
    --seashell-900: #3d3d3d;
    --seashell-950: #292929;
    --seashell-1000: #242424;
    

    --california-300: #ffd348;
    --california-400: #ffbf1e;
    --california-500: #fc9e09;
    --california-600: #df7400;
    
    --flower-700: #7a26ca;
    --flower-800: #6724a5;
    --flower-900: #4b1b75;
    --flower-950: #390962;
}

.color-white{color: var(--white);} .color-seashell-50{color: var(--seashell-50);} .color-seashell-100{color: var(--seashell-100);} .color-seashell-200{color: var(--seashell-200);} .color-seashell-300{color: var(--seashell-300);} .color-seashell-700{color: var(--seashell-700);} .color-seashell-800{color: var(--seashell-800);} .color-seashell-900{color: var(--seashell-900);} .color-seashell-950{color: var(--seashell-950);}

.color-california-300{color: var(--california-300);} .color-california-400{color: var(--california-400);} .color-california-500{color: var(--california-500);} .color-california-600{color: var(--california-600);}

.color-flower-700{color: var(--flower-700);} .color-flower-800{color: var(--flower-800);} .color-flower-900{color: var(--flower-900);} .color-flower-950{color: var(--flower-950);}

.bg-seashell-1000{background-color: var(--seashell-1000);} .bg-flower-950{background-color: var(--flower-950);} .bg-flower-900{background-color: var(--flower-900);} .bg-california-500{background-color: var(--california-500);}


*{
    margin: 0;
    padding: 0;
}

body{
    
    font-family: "Lato", sans-serif;
}

h1, h2, h3, h4, h5, h6{
    line-height: 130% !important;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
}

h1{
    font-size: clamp(2.5rem, 8vw, 4rem) !important;
}

h2{
    font-size: clamp(2rem, 5vw, 2.5rem) !important;
}

h3{
    font-size: clamp(1.75rem, 5vw, 2rem) !important;
}

h4{
    font-size: 1.75rem !important;
}

h5{
    font-size: 1.5rem !important;
}

h6{
    font-size: 1.25rem !important;
}

p{
    line-height: 150%;
}

h1, h2, h3, h4, h5, h6, p, figure, li, ul{
    margin: 0 !important;
    padding: 0 !important; 
}

a, li{
    text-decoration: none;
    list-style: none;
    display: inline-block;
}

.fs-extra-large{
    font-size: 1.25rem;
}

.fs-large{
    font-size: 1.125rem;
}

.fs-small{
    font-size: .875rem;
}

.fw-black{
    font-weight: 900;
}


.ribeye{
    font-family: "Ribeye", sans-serif;
}

.raleway{
    font-family: "Raleway", sans-serif;
}

.w-max{
    width: max-content;
}

.h-max{
    height: max-content;
}

.py-2\.5{
    padding-block: .75rem !important;
}

.px-2\.5{
    padding-inline: .75rem !important;
}

.pb-60{
    padding-bottom: 3.75rem !important;
}

.pb-144{
    padding-bottom: 9rem !important;
}

.px-100{
    padding-inline: 6.25rem !important;
}

.py-144{
    padding-block: 9rem !important;
}


.hover-btn:hover{
    filter: blur(0.10);
    box-shadow: 1px 1px;
}

.col-flexible{
}