.hero-capa{
    background: url('../ifzn_sem_fronteiras_ofc.svg') no-repeat;
    background-size: cover;
    height: 40.25rem;
}

.content-hero{
    height: calc(100% - 78px);
}

.card-time{
    border-left: 8px solid var(--california-500);
}

.bg-img-secundary{
    background: url(../bg.svg) no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding-bottom: 6.25rem;
}

.sec-login, .sec-inscrever{
    width: 52.75rem;
}

.circle{
    width: 21px;
    height: 21px;
    background-color: var(--white);
}

.element-active{
    background-color: var(--california-500) !important;

}

.line{
    height: 2px;
    background-color: var(--white);
}

.dates>.btns:nth-child(odd){
    border: 3px solid var(--california-500);
    border-radius: .875rem;
}

.dates>.btns:nth-child(even){
    border: 3px solid var(--flower-900);
    border-radius: .875rem;
}

.btn-secundary{
    border: 3px solid var(--flower-900);
    border-radius: .875rem;
}

.carousel-indicators li {
    background-color: var(--california-500) !important;
}

.bottom-stroke{
    border-bottom: solid 1px var(--california-500);
}



/* MEDIA QUERY */

@media screen and (max-width: 992px) {
    .sec-login, .sec-inscrever{
        width: auto;
        padding-inline: 1.5rem !important;
    }
    
    .content-hero > section, .o-que-scaperoom > *, .content-main-sala{
        min-width: 100%;
        max-width: 100%;
    }

    .o-que-scaperoom{
        flex-direction: column;
    }
    

    .o-que-scaperoom .content-scaperoom > h2, .o-que-scaperoom .content-scaperoom > p{
        padding-bottom: 1rem !important;
    }

    

    .cards-info-sala{
        flex-direction: column;
        row-gap: 3rem;
    }
}

@media screen and (max-width: 576px) {

    .sec-login .info-login p{
        font-size: 1rem;
    }

    .sec-login .info-login h2{
        font-size: 2rem !important;
    }

    .sec-inscrever .dates{
        flex-direction: column;
    }
    
    .sec-inscrever .content-rules{
        flex-direction: column;
        row-gap: 3rem;
    }

    .btn-entrar-suap{
        width: 100%;
        padding-inline: 0 !important;
    }
}